.rating {
	display: flex;
	justify-content: flex-end;
	flex-direction: row-reverse;
}
svg {
	fill: white;
	stroke: red;
	width: 50px;
	height: 50px;
}
svg:hover,
svg:hover ~ svg {
	fill: red;
}

/*Второй вариант*/

.raiting-stars {
	display: flex;
	justify-content: flex-end;
	flex-direction: row-reverse;
}
.star {
	color: gray;
	font-size: 50px;
	text-decoration: none;
}
.star:hover,
.star:hover ~ .star {
	color: red;
}

/*Третий вариант*/
.raiting-three {
	position: relative;
	font-size: 50px;
	display: inline-block;
}
.raiting-three::before {
	content: "★★★★★";
	display: block;
}
.raiting-three-items {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row-reverse;
	overflow: hidden;
}
.raiting-three-item {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
	top: 0;
	left: 0;
}
.raiting-three-label {
	flex: 0 0 20%;
	height: 100%;
	cursor: pointer;
	color: grey;
}
.raiting-three-label::before {
	content: "★";
	display: block;
	transition: color 0.3s ease 0s;
}
.raiting-three-label:hover,
.raiting-three-label:hover ~ .raiting-three-label {
	color: red;
}
