html,
body {
	margin: 0;
}
.wrapper {
	margin: 0;
}
.header {
	margin: 0;
	background-color: rgb(253, 191, 48);
	width: 100%;
	height: 200px;
}

.information {
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 200px;
}
.logo {
	font-size: 70px;
	font-family: "Lato", sans-serif;
	font-weight: 900;
	position: relative;
	left: 75px;
	top: 0;
	margin: 0;
}
.work-time {
	display: inline-block;
	width: 220px;
	height: 50px;
	position: absolute;
	top: 20px;
	left: 655px;
}
.img-calendar {
	width: 50px;
	height: 50px;
}
.text-calendar {
	font-family: "Lato", sans-serif;
	font-size: 20px;
	position: absolute;
	top: -24px;
	left: 70px;
}
.time-calendar {
	font-family: "Lato", sans-serif;
	margin-top: 5px;
	font-size: 16px;
	position: absolute;
	top: 25px;
	left: 70px;
}
a {
	text-decoration: none;
	color: rgb(0, 7, 33);
}

.call {
	width: 220px;
	height: 50px;
	display: inline-block;
	position: absolute;
	top: 20px;
	left: 960px;
}
.img-call {
	width: 50px;
	height: 50px;
}
.text-call {
	font-family: "Lato", sans-serif;
	font-size: 20px;
	position: absolute;
	top: -24px;
	left: 70px;
}
.number {
	font-family: "Lato", sans-serif;
	margin-top: 5px;
	font-size: 16px;
	position: absolute;
	top: 25px;
	left: 70px;
}

.mail {
	width: 220px;
	height: 50px;
	display: flex;
	position: absolute;
	top: 20px;
	left: 1250px;
}
.img-email {
	width: 50px;
	height: 50px;
}
.text-email {
	font-family: "Lato", sans-serif;
	font-size: 20px;
	position: absolute;
	top: -24px;
	left: 70px;
}
.address {
	font-family: "Lato", sans-serif;
	margin-top: 5px;
	font-size: 16px;
	position: absolute;
	top: 25px;
	left: 70px;
}
.menu {
	display: flex;
	align-items: flex-end;
	position: relative;
	top: 90px;
	left: 80px;
	width: 90%;
	height: 110px;
	background-color: rgb(0, 7, 33);
}
.menu-items {
	display: flex;
	list-style: none;
	font-family: "Lato", sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 40px;
}
ul li:first-child a {
	color: yellow;
}

ul li > a {
	color: white;
	margin-right: 25px;
}
.pages {
	background-color: rgb(0, 7, 33);
	color: white;
	font-family: "Lato", sans-serif;
	font-size: 20px;
	border: none;
	text-transform: uppercase;
	margin-right: 25px;
}
.get > a {
	font-family: "Lato", sans-serif;
	color: white;
	font-size: 20px;
	background-color: rgb(0, 7, 33);
	border: 3px solid white;
	padding: 10px;
	position: absolute;
	top: 30px;
	right: 30px;
}
.main {
}
.about {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 1000px;
}
.about-image {
	background-image: url(/builderz/img/carousel-3.jpg);
	background-repeat: no-repeat;
	width: 100%;
	height: 600px;
}
.about-item {
}
.about-item2 {
}
.about-link {
}
.about-line {
}
.about-us {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.about-us-expert {
	background-color: rgb(0, 7, 33);
	color: rgb(253, 191, 48);
	fill: rgb(253, 191, 48);
	flex-grow: 1;
	height: 400px;
}
.about-us-icon {
	width: 80px;
	height: 80px;
}
.about-us-quality {
	background-color: rgb(253, 191, 48);
	color: rgb(0, 7, 33);
	flex-grow: 1;
	height: 400px;
}
.about-us-support {
	background-color: rgb(0, 7, 33);
	color: rgb(253, 191, 48);
	flex-grow: 1;
	height: 400px;
}
